html, body{
    margin: 0px;
}
#main{
    height: 75vh;
    width: 100vw;
    background-color: #eeeeee;
}
#here{
    height: auto;
    width: 50vw;
    color: black;
    background-color: #ffffff;
    margin-left: 23vw;
    text-align: center;
}
#here p:nth-child(2){
    font-size: 2vh;
    font-style: normal!important;
}
#here p:nth-child(2) img{
    max-width: 50vw;
    max-height: 50vh;
    display: inline-flexbox;
}